*.rbc
*.sassc
.sass-cache
capybara-*.html
.bundle/*
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
Session.vim
todo.txt
/doc/*
.yardoc/*
.idea
/config/local_env.yml
*.swp
*.rdb
.DS_Store
coverage
stdout
/private/*
/meta/*
spec/fixtures/spreadsheets/.~lock*
db/schema.rb
db/structure.sql
/config/credentials/development.key
/config/credentials/development.yml.enc
/config/credentials/test.key
/config/credentials/test.yml.enc
/config/credentials/staging.key
/config/credentials/production.key
/config/master.key
/config/credentials.yml.enc
node_modules
.envrc
.byebug_history
dividends.csv
.rspec_status
