---
http_interactions:
- request:
    method: get
    uri: https://sistemaswebb3-listados.b3.com.br/listedCompaniesProxy/CompanyCall/GetInitialCompanies/eyJsYW5ndWFnZSI6InB0LWJyIiwicGFnZU51bWJlciI6MSwicGFnZVNpemUiOjEwMDB9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\"page\":{\"pageNumber\":1,\"pageSize\":1000,\"totalRecords\":2351,\"totalPages\":2},\"results\":[{\"codeCVM\":\"917581\",\"issuingCompany\":\"2WAV\",\"companyName\":\"2W
        ENERGIA S.A.\"}]}"
  recorded_at: Tue, 17 Jan 2023 21:02:49 GMT
- request:
    method: get
    uri: https://sistemaswebb3-listados.b3.com.br/listedCompaniesProxy/CompanyCall/GetInitialCompanies/eyJsYW5ndWFnZSI6InB0LWJyIiwicGFnZU51bWJlciI6MiwicGFnZVNpemUiOjEwMDB9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\"page\":{\"pageNumber\":2,\"pageSize\":1000,\"totalRecords\":2351,\"totalPages\":2},\"results\":[{\"codeCVM\":\"903898\",\"issuingCompany\":\"GCIV\",\"companyName\":\"GAIA
        CRED IV COMPANHIA  SECURITIZADORA DE CREDITOS\",\"tradingName\":\"GAIACREDIVSE\",\"cnpj\":\"28757881000109\",\"marketIndicator\":\"1\",\"typeBDR\":\"\",\"dateListing\":\"31/12/9999\",\"status\":\"A\",\"segment\":\"Não
        Classificados\",\"segmentEng\":\"Not Classified\",\"type\":\"7\",\"market\":\"\"}]}"
  recorded_at: Tue, 17 Jan 2023 21:02:50 GMT
recorded_with: VCR 6.1.0
