---
http_interactions:
- request:
    method: get
    uri: https://sistemaswebb3-listados.b3.com.br/listedCompaniesProxy/CompanyCall/GetDetail/eyJsYW5ndWFnZSI6InB0LWJyIiwiY29kZUNWTSI6IjI1MDcwIn0=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"issuingCompany":"PLPL","companyName":"PLANO & PLANO DESENVOLVIMENTO
        IMOBILIÁRIO S.A.","tradingName":"PLANOEPLANO","cnpj":"24230275000180","industryClassification":"Consumo
        Cíclico / Construção Civil / Incorporações","industryClassificationEng":null,"activity":"(i)
        incorporação. construção e comercialização de empreendimentos imobiliários;
        (ii) locação de imóveis próprios; (iii) administração de carteira de recebíveis
        de financiamentos. empréstimos imobiliár","website":"www.planoeplanori.com.br","hasQuotation":null,"status":"A","marketIndicator":"18","market":"NOVO
        MERCADO","institutionCommon":"ITAU CORRETORA ACOES","institutionPreferred":"","code":"PLPL3","codeCVM":"25070","lastDate":"16/01/2023
        23:29:49","otherCodes":[{"code":"PLPL3","isin":"BRPLPLACNOR5"}],"hasEmissions":false,"hasBDR":false,"typeBDR":null,"describleCategoryBVMF":null}'
  recorded_at: Tue, 17 Jan 2023 21:01:27 GMT
recorded_with: VCR 6.1.0
