---
http_interactions:
- request:
    method: get
    uri: https://sistemaswebb3-listados.b3.com.br/listedCompaniesProxy/CompanyCall/GetListedCashDividends/eyJsYW5ndWFnZSI6InB0LWJyIiwicGFnZU51bWJlciI6MSwicGFnZVNpemUiOjEwMDAsInRyYWRpbmdOYW1lIjoiUEVUUk9CUkFTIn0=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"page":{"pageNumber":1,"pageSize":1000,"totalRecords":233,"totalPages":1},"results":[{"typeStock":"ON","dateApproval":"03/11/2022","valueCash":"1,155823","ratio":"1","corporateAction":"DIVIDENDO","lastDatePriorEx":"21/11/2022","dateClosingPricePriorExDate":"21/11/2022","closingPricePriorExDate":"30,28","quotedPerShares":"1","corporateActionPrice":"3,817117","lastDateTimePriorEx":"2022-11-21T00:00:00"},
               {"typeStock":"ON","dateApproval":"03/11/2022","valueCash":"1,600192","ratio":"1","corporateAction":"DIVIDENDO","lastDatePriorEx":"21/11/2022","dateClosingPricePriorExDate":"21/11/2022","closingPricePriorExDate":"30,28","quotedPerShares":"1","corporateActionPrice":"5,284650","lastDateTimePriorEx":"2022-11-21T00:00:00"}]}'
  recorded_at: Wed, 18 Jan 2023 19:07:51 GMT
recorded_with: VCR 6.1.0
